{% extends 'layout.html' %}
{% block titulo %}
<title>FAQ</title>
{% endblock %}

{% block conteudo %}
<center>
    <h1 class="col1">FAQ</h1>
</center>

<style type="text/css">

    body {
        background-image: url("/static/back/wall.jpg");
        font-family: sans-serif;
        color: black;

    }


    .container {
        border: 25px lightgrey;
        max-width: 700px;
        margin: 100px;
        width: 100%;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 17px #fff;


        height: 20vh;
        justify-content: center;
    }

    .byside {
        float: left;
        width: 50%;
    }

    * {
        box-sizing: border-box;
    }


    .byside1 {
        float: left;
        width: 50%;
    }


</style>

<section class="byside">
    <div class="container">
        <br>
        <center><h1 class="col1">É possível fazer reembolso?</h1>
            <h3 class="col3">Sim é possível fazer reembolso.<br>
                Tem um prazo de 2 semanas, para ver se decide ficar com o relógio ou se prefere o dinheiro de volta
                ou mesmo trocá-lo.</h3></center>
    </div>
</section>

<section class="byside">
    <div class="container">
        <br>
        <center><h1 class="col1">Porque comprar na BrimixWatches?</h1>
            <h3 class="col3">Dispomos dos melhores relógios de qualidade, desde relógios da marca Rolex como da marca
                TOMMY como outras marcas.</h3></center>
    </div>
</section>

<section class="byside1">
    <div class="container">
        <br>
        <center><h1 class="col1">Têm linha de Apoio?</h1>
            <h3 class="col3">Sim temos. Em caso de dúvida com algum artigo<br> ou encomenda contacte-nos atráves via
                email brimixwatches@brimix.pt ou 90011235 .</h3></center>
    </div>
</section>
<section class="byside1">
    <div class="container">
        <br>
        <center><h1 class="col1">Quanto tempo demora o Shipping?</h1>
            <h3 class="col3">Como estamos a falar de produtos de alta qualidade<br> o shipping dura de 2 a 6 dias
                não
                sendo bloqueados pela Alfandega.</h3></center>
    </div>
</section>
{% endblock %}
