{% extends 'layout.html' %}
{% block titulo %}
<title xmlns="http://www.w3.org/1999/html">Brimix watches</title>
{% endblock %}

{% block conteudo %}

<style type="text/css">

    body {
        background-image: url("/static/back/wall2.jpg");
        background-size: 1920px 1080px;
        font-family: sans-serif;
        color: black;

    }


    .container {
        border: 25px lightgrey;
        max-width: 700px;
        margin: auto;
        width: 100%;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 17px #fff;
        height: 20vh;
        align-items: center;
        justify-content: center;

    }


</style>

<br>
<br>
<br>

<center>
    <div class="main2">
        <a href="/pr/Homem">
            <button class="col1">Homem</button>
        </a>
    </div>

    <div class="main4">
        <a href="/pr/Novas%20Tecnlogias">
            <button class="col3">Nova Tecnologia</button>
        </a>
    </div>

    <div class="main3">
        <a href="/pr/Mulher">
            <button class="col2">Mulher</button>
        </a>
    </div>
</center>

<br>
<br>

<br>
<br>


<section>
    <div class="container">
        <br>
        <center><h1 class="col1">Missão</h1>
            <h3 class="col3">A nossa missão é ser a melhor loja de relógios.<br>
                Ao comprar na nossa loja irá receber o melhor conteúdo como também o melhor serviço.</h3></center>
    </div>
</section>


{% endblock %}
